.confirmB::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(151, 129, 129);
    border-radius: 10px;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.confirmB:hover::before,
.confirmB:focus::before {
    transform: scaleX(1);
}

.confirmB {
    z-index: 1;
}