.invBuilt  {
    animation: buildInv 0.5s ease-in-out forwards;
}
.picVisible {
    animation: pictureS 0.5s ease-in-out forwards;
}
.picInvisible {
    animation: pictureH 0.5s ease-in-out forwards;
}

.controlVisible {
    animation: controlS 0.5s ease-in-out forwards;
}
.controlHidden {
    animation: controlH 0.5s ease-in-out forwards;
}

@keyframes buildInv {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pictureS {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes pictureH {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes controlS {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 0;
    }
}

@keyframes controlH {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}