.frameVisible {
    animation: frameV 0.3s ease-in forwards;
}
.frameInvisible {
    animation: frameInv 0.3s ease-out forwards;
}

@keyframes frameV {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes frameInv {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(100%);
    }
}